@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
#header {
  max-width: 100%;
  
  width: 100vw;
  height: 80px;
  background-color: #042940;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  font-size: 22px;
  border-bottom: 2px solid black;
  position: absolute;
}
#logo {
  display: flex;
  align-items: center;
}
#logo img {
  height: 60px;
  margin-right: 35px;
  margin-left: 15px;
}
#title{
  display: flex;
  color:#ffe44d65;
  margin: 0;
}
#usuario{
  color:#ffe44d65;
  margin: 0;
  }
#user-info {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
#user-info h1 {
  color: #ffffff;
  margin: 0 10px;
}
#user-info img {
  height: 60px;
  margin-left:35px;
}