*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}
.full-content {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.titulo h3 {
    max-width: 100%;
    width: 100%;
    font-size: 1.4rem;
}
.top-area{
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.top-area .adicionar{
    margin-left: 3px;
    max-width: 100%;
}
.top-area .adicionar button{
    background-color: rgba(5, 62, 97, 1);
    color: white;
    height: 38px;
    width: 100%;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 4px 4px 8px -5px rgba(0, 0, 0, 0.1);
    border: none;
}
.top-area .adicionar button:hover{
    cursor: pointer;
    box-shadow: 4px 4px 8px -3px #42545f8c;
    transition: all 0.1s ease-in-out;
}

/* buscar */
.mid-area{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
 .pesquisar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 49%;
    height: 100%;
    padding: 15px 0px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 2px 3px 10px -7px rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
}
.pesquisar h6{
    padding: 0px 0px 0px 10px;
}
.main-pesquisar{
    padding: 8px 9px 6px 10px;
    width: 100%;
}
.main-pesquisar form{
    display: flex;
    justify-content: space-between;
}
.group{
    display: flex;
    flex-direction: column;
    width: 48%;
}
 input{
    width: 100%;
    outline: none;
    border: 0.1px solid rgba(185, 185, 185, 0.61);
    border-radius: 3px;
    padding: 2px 2px;
}

.total-agendamentos{
    display: flex;
    width: 49%;
    height: 100%;
    padding: 18px 0px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 2px 3px 10px -7px rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
    position: relative;
}
.total-agendamentos h6{
    padding-left: 10px;
}
.main-total-agendamentos{
    padding: 0px 0px 0px 10px;
}
.icone-total{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -50%);
    z-index: 1;
    opacity: 0.20;
    color: rgba(5, 62, 97, 1);
    font-size: 3rem;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* table */
.table-clientes{
    width: 100% !important;
    height: 100%;
    margin: 0 auto; 
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 10px;
    justify-content: space-between;
}
table{
    width: 100% !important; 
    margin: 0 auto;
    justify-content: space-between;
}
table th {
    font-size: 1.1rem;
    font-weight: 600;
}
table td{
    font-size: 1rem;
    font-weight: 400;
}
table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
table td a:not(:last-child){
    margin-right: 2px;
}
table td i{
    color: rgb(255, 255, 255);
    border: 0.5px solid black;
    padding: 2px 2.5px 1.8px 2.5px;
    border-radius: 5px;
    background-color: rgb(221, 187, 33);
    align-items: center;
    justify-content: center;
}
.icons-item .second {
    background-color: #B54848;
    color: white;
    padding: 2px 2.8px 1.8px 2.5px;
}
.icons-item .third {
    background-color: #707070;
    color: white;
}
.footer-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px 0 25px;
}
.footer-table .esquerda {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-table .esquerda label{
     margin-bottom: 6px; 
     font-size: 1.3rem;
}
.footer-table .esquerda p{
    margin-top: 10px;
    font-size: 1.2rem;
}
.footer-table .esquerda label, p {
    margin-left: 5px;
}
.footer-table .esquerda .labels{
    display: flex;
    flex-direction: row;
    margin-left: 4px;
    align-items: center;
}
.footer-table .direita a{
    color: black;
}
.footer-table .direita{
    margin-right: 20px;
}
.footer-table .direita a:not(:last-child){
    margin-right: 10px;
}
.footer-table .direita label{
    margin-right: 12px;
}
.top-pop-up-excluir{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}
.buttons button{
    background-color: #042940e1;
    color: white;
    height: 38px;
    width: 200px;
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}
 .excluir{
    margin-top: 150px;
}
.modal .excluir{
    height: calc(100% + 100px);
}
.table-clientes span{
    color: #7a7a7a;
}
