@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: "Cabin", sans-serif;
}
body{
    background-color: #cacaca;
    max-width: 1920px;
}
.titulo{
    margin-left: 200px;
    margin-top: 58px;
    
    
}
.titulo strong{
    color: yellow;
    text-shadow: 4px 3px 8px rgb(0, 0, 0);
}
